<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated configmetamodel -->
      <package
            uri="urn:www.pst.ifi.lmu.de/knapp/pkg"
            class="configmetamodel.ConfigmetamodelPackage"
            genModel="src/main/resources/metamodels/config/configmetamodel.genmodel"/>
   </extension>

</plugin>
